footer{
    background-color: #2d0a1e;
    padding: 50px 20px 10px 20px;
    margin-top: -5px;
    width: 100%;
    overflow: hidden;
    
}

footer .infor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
    border-bottom: solid white 1px;
    gap: 40px;
}

.contact{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact .logo img{
    width: 200px;
}

.contact div{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 15px;
}

.contact div img{
    width: 15px;
    height: auto;
}

footer .compte{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

/* Social media  */
.social_media{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    padding: 30px;
    border-bottom: solid white 1px;
}

.social_media img {
    width: 20px;
    height: auto;
}

.foot_bottom{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: white;
    padding: 30px;
}

.newsletter{
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.newsletter label {
    width: 100%;
    margin-right: 8px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

.newsletter label input{
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    font-size: 14px;
}

.newsletter button {
    padding: 10px;
    background-color: #f95c8e;
    border: none;
    border-radius: 10px;
}